html {
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  margin: 20px;
  padding: 20px;
}
.all-donuts {
  display: grid;
  grid-template-columns: auto;
  justify-content: space-around;
}
/***************************************Mostapha*******************************************************************************************/
/* .donutCardContainer img.donutImage2 {
  display: none;
}
*/
* {
  margin: 0;
  padding: 0;
}
#allDonuts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  background-color: white;
  overflow-x: hidden;
}
.toggle {
  position: absolute;
  top: 1rem;
  left: 19.5rem;
  font-size: 1.08rem;
}
.logo {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: italic;
  font-size: 1.2rem;
}
.moon {
  border: none;
  cursor: pointer;
}
.sun {
  background-color: rgb(119, 0, 255);
  color: white;
}
.dark_mode .hide .container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}
.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgba(140, 174, 206, 0.15);
}
.navbar .nav-container li {
  list-style: none;
}
.navbar .nav-container a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 3rem;
  padding: 0.7rem;
}
.navbar .nav-container a:hover {
  font-weight: bolder;
}
#darkandlight {
  top: 1.7rem;
  left: 16rem;
}
.sum {
  top: 1.5rem;
  right: 8rem;
  font-size: 1.5rem;
}
.sumofall {
  right: 7rem;
}
.nav-container .shopping {
  right: 3rem;
}
.nav-container .cart {
  right: 7px;
  top: -18px;
  border-radius: 97px;
  font-size: 1rem;
}
.nav-container .hamburger-lines {
  height: 35px;
  width: 35px;
  right: 0;
  z-index: 3;
  flex-direction: column;
}
.navbar .menu-items {
  position: relative;
  z-index: 2;
  border-radius: 3%;
  padding-top: 100px;
  height: 50vh;
  transform: translate(-150%);
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  background-color: whitesmoke;
  opacity: 80%;
}
/*filter*/
.filter {
  text-align-last: center;
  background-color: #303030;
}
.priceRange {
  display: block;
  color: #edf6f6;
}
/* ///////////////////////////////////////////// */
/* //////////////Simon/////////////// */
#persondiv #kortdiv .donut {
  background-color: lightblue;
  border: 2px solid black;
  border-radius: 7px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}
.nav-container {
  justify-content: space-between;
  align-items: center;
  height: 62px;
  height: 60px;
}
.navbar .menu-items li {
  margin-bottom: 1.2rem;
}
.space {
  margin: 1rem;
}
/*kontaktuppgifter*/
#contact {
  justify-content: space-evenly;
}
.listofcontact .opentime .donut h2 .donutCardImgContainer span .left {
  top: 50%;
  margin-left: 5px;
}
.right {
  right: 0px;
  margin-right: 5px;
}
.myImages img {
  border-radius: 999px;
}
.controlsImgSlideshow
  .donutCardImgContainer
  .donutContainerInput
  .donutContainerInput
  button {
  margin: 5px 10px 5px 10px;
  height: 30px;
  width: 30px;
  background-color: black;
}
/* .donutContainerInput input {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: black 2px solid;
  text-align: center;
  font-size: 1.5rem;
}
*/
.userForm .form-one {
  margin: 10px;
  height: 100%;
}
.selector {
  width: 50%;
}
.selector-item_radio {
  appearance: none;
}
.radio-selector {
  flex-basis: calc(50% / 2);
}
.radio-selector-label {
  height: 80%;
  border-radius: 9999px;
  font-weight: 900;
  transition-duration: 0.5s;
  transition-property: transform, color, box-shadow;
  transform: none;
}
.selector-item_radio:checked + .radio-selector-label {
  background-color: blue;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5), 0 2px 4px rgba(0, 0, 0, 0.5);
}
.form-box {
  max-width: 50vw;
  margin: 0 auto;
  padding: 2rem;
  box-shadow: 1px 1px 3px dimgrey, 3px 3px 7px grey;
  margin-bottom: 50px;
  margin-top: 50px;
}
.form-item-label,
.form-item-input {
  line-height: 1.4;
}
#submit {
  margin-top: 10px;
}
/* ------------------------ */
