html {
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  margin: 20px;
  padding: 20px;
  overflow-x: hidden;
  background-image: radial-gradient(
    circle,
    rgba(240, 240, 240, 1) 0%,
    rgba(190, 189, 77, 1) 100%
  );
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/**********************************************************************************************************************************/
/* black-mode */
.toggle {
  position: absolute;
  top: 1vw;
  right: 1vw;
}
/* black-mode */
.moon {
  border: none;
  cursor: pointer;
}
/* black-mode */
.sun {
  border: none;

  color: white;
  cursor: pointer;
}
/* black-mode */
.dark_mode {
  background-color: rgb(119, 0, 255);
  color: white;
}
/* black-mode */
.hide {
  display: none;
}
#darkandlight {
  cursor: pointer;
  position: absolute;
  top: 1.7rem;
  left: 16rem;
}
/* Logotyp */
.logo {
  top: 1rem;
  font-style: italic;
  font-size: 1.5rem;
}

/* Header */
header {
  padding: 30px;
}
.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgba(140, 174, 206, 0.15);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 3rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover {
  font-weight: bolder;
}
.navbar .menu-items {
  position: relative;
  z-index: 2;
  border-radius: 3%;
  padding-top: 100px;
  height: 50vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  background-color: whitesmoke;
  opacity: 80%;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .shopping {
  cursor: pointer;
  position: absolute;
  right: 3rem;
  top: 1.5rem;
  font-size: 1.5rem;
}

.nav-container .cart {
  position: absolute;
  right: 2px;
  top: -25px;
  border-radius: 97px;
  font-size: 1.5rem;
}

/**********************************************************************************************************************************/
/*filter*/
.filter {
  text-align-last: center;

  color: black;
}
.space {
  margin: 1rem;
}

.priceRange {
  display: block;
  color: black;
}

.buttonContainer {
  cursor: pointer;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 2px solid;
  border-radius: 6px;
  color: #ffffff;
  background-color: #000000;
  border-color: #fafafa;
  text-align: center;
}

.buttonContainer:hover {
  background-color: #030010;
  border-color: #1e1b2326;
  transition-duration: 0.1s;
}
/**********************************************************************************************************************************/

/*kontaktuppgifter - footer */
#contact {
  display: flex;
  flex-wrap: wrap;
  text-align: center;

  color: black;
  justify-content: space-evenly;
}
.listofcontact {
  list-style: none;
}
/**********************************************************************************************************************************/

.donut {
  background-color: lightblue;
  border: 2px solid black;
  border-radius: 7px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.donut h2 {
  text-align: center;
}

.donutCardImgContainer span {
  font-size: 1.5rem;
}

.left {
  position: absolute;
  top: 50%;
  margin-left: 5px;
  cursor: pointer;
}

.right {
  position: absolute;
  top: 50%;
  right: 0px;
  margin-right: 5px;
  cursor: pointer;
}

.all-donuts {
  display: grid;
  grid-template-columns: auto;
  justify-content: space-around;
} /*# sourceMappingURL=style.css.map */

#allDonuts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
/*Döljer donut2 bild*/
.donutCardContainer img.donutImage2 {
  display: none;
}

.add {
  cursor: pointer;
}
.remove {
  cursor: pointer;
}
/*Rund ram donut*/
.myImages img {
  border-radius: 9990px;
}
.controlsImgSlideshow {
  position: relative;
}

.donutCardImgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.donutContainerInput {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.donutContainerInput button {
  margin: 5px 10px 5px 10px;
  height: 30px;
  width: 30px;
  font-size: 1.5rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 999px;
}

/*******************************************Varukorg*****************************************************************/

.shop {
  background-color: white;
}

.form-box {
  width: 100%;
  max-width: 50vw;
  margin: 0 auto;
  padding: 2rem;
  box-shadow: 1px 1px 3px dimgrey, 3px 3px 7px grey;
  margin-bottom: 50px;
  margin-top: 50px;
  background-color: white;
}

.cartName,
.gift {
  text-align: center;
  font-size: 1.5rem;
}

.shipping,
.discountAlert,
.cartTotalDiv,
.cart-item,
.cartPriceDiv {
  text-align: right;
  margin-top: 10px;
}

.cartTotalSpan {
  font-size: 1.5rem;
}

#receiptOrder {
  margin: 50px;
  font-size: 1.2rem;
}

#shopHeading,
#formHeading {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 15px;
  text-decoration: underline;
}

.cart-item input {
  padding: 3px;
  border-radius: 5px;
}
#checkOutButton {
  cursor: pointer;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  color: #ffffff;
  background-color: #2ea44f;
  border-color: #fafafa;
  text-align: center;
  font-weight: bold;
}
#checkOutButton:hover {
  background-color: #2c974b;
  border-color: #1b1f2326;
  transition-duration: 0.1s;
}
#clearCart {
  cursor: pointer;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  color: #000000;
  background-color: #fd1100;
  border-color: #fafafa;
  text-align: center;
  font-weight: bold;
}
#clearCart:hover {
  background-color: #cd0404;
  border-color: #1b1f2326;
  transition-duration: 0.1s;
}
.buttonShop {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/*******************************************Formulär*****************************************************************/

.form-item-label {
  display: block;
  margin-top: 1.5rem;
  font-size: 1.1rem;
}

.form-item-input {
  display: block;
  width: 100%;
  margin: 5px 0;
  padding: 8px;
  font-size: 18px;
  color: #333;
  font-family: "Nunito", sans-serif;
}

.form-item-input:focus {
  outline: 2px solid black;
}

#resetForm {
  cursor: pointer;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  color: #ffffff;
  background-color: #fd1100;
  border-color: #fafafa;
  text-align: center;
  font-weight: bold;
}
#resetForm:hover {
  background-color: #cd0404;
  border-color: #1b1f2326;
  transition-duration: 0.1s;
}
#checkOutButtonBack,
#receiptOrderButton {
  cursor: pointer;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  color: #ffffff;
  background-color: #3801af;
  border-color: #fafafa;
  text-align: center;
  font-weight: bold;
}
#checkOutButtonBack:hover,
#receiptOrderButton:hover {
  background-color: #04047e;
  border-color: #1b1f2326;
  transition-duration: 0.1s;
}

#submit {
  cursor: pointer;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  background-color: #2ea44f;
  border-color: #fafafa;
  text-align: center;
  font-weight: bold;
}

#submit:disabled {
  cursor: not-allowed;
}

.buttonContactGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
/**/

#persondiv {
  display: none;
}
#kortdiv {
  display: none;
}
.selector {
  position: relative;
  width: 50%;

  align-items: center;
}
.userForm {
  display: none;
}

.form-one {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-one {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.selector-item_radio {
  cursor: pointer;
}

.radio-selector {
  display: flex;
}
fieldset {
  border: none;
}

.radio-selector-label {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  border-radius: 9999px;
  font-weight: 900;
  transition-duration: 0.5s;
  transition-property: transform, color, box-shadow;
  transform: none;
  cursor: pointer;
  border: 1px solid black;
}

.selector-item_radio:checked + .radio-selector-label {
  background-color: rgb(5, 99, 9);
  color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5), 0 2px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid white;
}
@media only screen and (max-width: 900px) {
  .form-box {
    max-width: 100vw;
  }
}
@media only screen and (max-width: 550px) {
  h1 {
    font-size: 2rem;
    max-width: 75%;
  }
  body {
    margin: 5px;
    padding: 5px;
  }

  .cartName,
  .gift {
    font-size: 1.3rem;
  }
  .shipping:focus {
    background-color: yellow;
    color: yellow;
  }
}
@media only screen and (max-width: 400px) {
  .cartName,
  .gift {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 300px) {
  body {
    margin: 0px;
    padding: 0px;
  }
}
