@import 'normalize';

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    margin: 20px;
    padding:20px;

}

.all-donuts {
    display:grid;
    grid-template-columns: auto;
    justify-content: space-around;

}
