@import 'normalize';

html {
    
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

// ----------------------------------------------------------------------------------------------------
// -------------------------------------------------- SLIDESHOW ---------------------------------------
// ----------------------------------------------------------------------------------------------------
.slideshow {
  @media screen and (orientation: landscape) {
    max-width: 90vh;
  }
  @media screen and (orientation: portrait) {
    max-width: 90vw;
  }
  background: rgba(255, 255, 255, 0.5);
  outline: 1px solid black;
  margin-inline: auto;
  margin-block: 40px;
  position: relative;
  aspect-ratio: 16 / 9;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);

  .images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      transition: opacity 1s ease;
    }

    .img-2 {
      opacity: 0;
    }
  }

  button {
    min-width: 35px;
    min-height: 35px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    background: transparent;
    color: transparentize(#000000, 0.7);
    transition: color 0.3s ease-in-out;
    &:hover {
      color: #000;
    }
    &.left {
      left: $padding;
    }
    &.right {
      right: $padding;
    }
  }
}